
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 700px;
    width: 550px;
}
.display{
    border: 2px solid black;
    height: 170px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 500px;
}
.sub-container{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-left: 20px;
}
.clear-and-delete{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#clear{
    border: 2px solid black;
    width: 220px;
    height: 70px;
    font-size: 30px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 10px;
}
#clear:hover{
    background-color: red;
    color: aliceblue;
}

#delete{
    border: 2px solid black;
    width: 220px;
    height: 70px;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
}
#delete:hover{
    background-color: red;
    color: aliceblue;
}
.num-buttons{
    display: flex;
    flex-direction: column-reverse;
}
button{
    font-size:larger;
    padding: 40px;
    width: 80px;
    height: 50px;
    margin-right: 30px;
}
.row{
    padding: 10px;
}